<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agregar Libro</title>
</head>
<body>
  <h1>Agregar Libro</h1>
  <form action="agregar_libro.php" method="post">
    <label>ISBN:</label><br>
    <input type="text" name="ISBN"><br><br>

    <label>Título:</label><br>
    <input type="text" name="Titulo"><br><br>

    <label>Autor:</label><br>
    <input type="text" name="Autor"><br><br>

    <label>Género:</label><br>
    <input type="text" name="Genero"><br><br>

    <label>Disponibilidad:</label><br>
    <input type="text" name="Disponibilidad_libro"><br><br>

    <label>Fecha de Publicación:</label><br>
    <input type="date" name="Fecha_publicacion"><br><br>

    <input type="submit" value="Agregar Libro">
  </form>
</body>
</html>
