<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Usuario</title>
</head>
<body>
  <h1>Actualizar Datos del Usuario</h1>
  <form action="actualizar_usuario.php" method="post">
    <label>RUT:</label><br>
    <input type="text" name="Rut"><br><br>

    <label>Nombre Completo:</label><br>
    <input type="text" name="Nombre_completo"><br><br>

    <label>Email:</label><br>
    <input type="email" name="Email"><br><br>

    <label>Teléfono:</label><br>
    <input type="text" name="telefono"><br><br>

    <label>ID Carrera:</label><br>
    <input type="text" name="ID_carrera"><br><br>

    <input type="submit" value="Actualizar Usuario">
  </form>
</body>
</html>
