<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú Biblioteca</title>
</head>
<body>
  <h1>Bienvenido a la Biblioteca</h1>
  <p>Seleccione una acción:</p>

  <ul>
    <li><a href="prestar_libro.html">Prestar Libro</a></li>
    <li><a href="reservar_box.html">Reservar Box</a></li>
    <li><a href="actualizar_usuario.html">Actualizar Datos del Usuario</a></li>
    <li><a href="agregar_libro.html">Agregar Libro</a></li>
    <li><a href="eliminar_libro.html">Eliminar Libro</a></li>
  </ul>
</body>
</html>
