<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Prestar Libro</title>
</head>
<body>
  <h1>Prestar Libro</h1>
  <form action="prestar_libro.php" method="post">
    <label>RUT del Usuario:</label><br>
    <input type="text" name="Rut"><br><br>

    <label>ISBN del Libro:</label><br>
    <input type="text" name="ISBN"><br><br>

    <label>Inicio del Préstamo:</label><br>
    <input type="datetime-local" name="inicio"><br><br>

    <label>Fin del Préstamo:</label><br>
    <input type="datetime-local" name="fin"><br><br>

    <input type="submit" value="Registrar Préstamo">
  </form>
</body>
</html>
